In [2]:
from sqlalchemy import create_engine
engine = create_engine('duckdb:///datacamp.duckdb')
with engine.connect() as connection:
    cursor = connection.exec_driver_sql("SELECT * FROM bank LIMIT 3")
    print(cursor.fetchall())

[(56, 'housemaid', 'married', 'basic.4y', 'no', 'no', 'no', 'telephone', 'may', 'mon', 261, 1, 999, 0, 'nonexistent', 1.1, 93.994, -36.4, 4.857, 5191.0, 'no'), (57, 'services', 'married', 'high.school', 'unknown', 'no', 'no', 'telephone', 'may', 'mon', 149, 1, 999, 0, 'nonexistent', 1.1, 93.994, -36.4, 4.857, 5191.0, 'no'), (37, 'services', 'married', 'high.school', 'no', 'yes', 'no', 'telephone', 'may', 'mon', 226, 1, 999, 0, 'nonexistent', 1.1, 93.994, -36.4, 4.857, 5191.0, 'no')]

In [3]:
from llama_index.core import SQLDatabase

sql_database = SQLDatabase(engine, include_tables=["bank"])

/Users/sonph36/dev/NatureLanguageSQL/.venv/lib/python3.12/site-packages/duckdb_engine/__init__.py:174: DuckDBEngineWarning: duckdb-engine doesn't yet support reflection on indices
  warnings.warn(

In [11]:
from llama_index.llms.openai import OpenAI
from llama_index.core.indices.struct_store import NLSQLTableQueryEngine
import os
import dotenv
dotenv.load_dotenv()

llm = OpenAI(model="gpt-4o-mini")
query_engine = NLSQLTableQueryEngine(sql_database)

In [12]:
response = query_engine.query("What is the longest running campaign ?")

In [13]:
response

Response(response='The longest running campaign in the bank dataset has a duration of 4918 days.', source_nodes=[NodeWithScore(node=TextNode(id_='1ab6e7a0-319c-4d06-8354-0a17e0f8c21a', embedding=None, metadata={'sql_query': 'SELECT MAX(duration) AS longest_campaign\nFROM bank;', 'result': [(4918,)], 'col_keys': ['longest_campaign']}, excluded_embed_metadata_keys=['sql_query', 'result', 'col_keys'], excluded_llm_metadata_keys=['sql_query', 'result', 'col_keys'], relationships={}, text='[(4918,)]', mimetype='text/plain', start_char_idx=None, end_char_idx=None, text_template='{metadata_str}\n\n{content}', metadata_template='{key}: {value}', metadata_seperator='\n'), score=None)], metadata={'1ab6e7a0-319c-4d06-8354-0a17e0f8c21a': {'sql_query': 'SELECT MAX(duration) AS longest_campaign\nFROM bank;', 'result': [(4918,)], 'col_keys': ['longest_campaign']}, 'sql_query': 'SELECT MAX(duration) AS longest_campaign\nFROM bank;', 'result': [(4918,)], 'col_keys': ['longest_campaign']})

In [14]:
response = query_engine.query("Which type of job has the most housing loan ?")
response

Response(response="The type of job with the most housing loans is 'admin.' with 5559 housing loans. This is followed by 'blue-collar' with 4710 housing loans and 'technician' with 3616 housing loans. Other job types with significant housing loans include 'services', 'management', 'retired', 'entrepreneur', and 'self-employed'.", source_nodes=[NodeWithScore(node=TextNode(id_='d3cd1b3e-ec93-475a-8aa9-0f07c40ed0ea', embedding=None, metadata={'sql_query': "SELECT job, COUNT(housing) AS housing_loan_count\nFROM bank\nWHERE housing = 'yes'\nGROUP BY job\nORDER BY housing_loan_count DESC;", 'result': [('admin.', 5559), ('blue-collar', 4710), ('technician', 3616), ('services', 2050), ('management', 1490), ('retired', 892), ('entrepreneur', 779), ('self-employed', 740), ('unemployed', 557), ('housemaid', 540), ('student', 471), ('unknown', 172)], 'col_keys': ['job', 'housing_loan_count']}, excluded_embed_metadata_keys=['sql_query', 'result', 'col_keys'], excluded_llm_metadata_keys=['sql_query', 'result', 'col_keys'], relationships={}, text="[('admin.', 5559), ('blue-collar', 4710), ('technician', 3616), ('services', 2050), ('management', 1490), ('retired', 892), ('entrepreneur', 779), ('self-employed', 740), ('unemployed', 557), ('housemaid', 540), ('student', 471), ('unknown', 172)]", mimetype='text/plain', start_char_idx=None, end_char_idx=None, text_template='{metadata_str}\n\n{content}', metadata_template='{key}: {value}', metadata_seperator='\n'), score=None)], metadata={'d3cd1b3e-ec93-475a-8aa9-0f07c40ed0ea': {'sql_query': "SELECT job, COUNT(housing) AS housing_loan_count\nFROM bank\nWHERE housing = 'yes'\nGROUP BY job\nORDER BY housing_loan_count DESC;", 'result': [('admin.', 5559), ('blue-collar', 4710), ('technician', 3616), ('services', 2050), ('management', 1490), ('retired', 892), ('entrepreneur', 779), ('self-employed', 740), ('unemployed', 557), ('housemaid', 540), ('student', 471), ('unknown', 172)], 'col_keys': ['job', 'housing_loan_count']}, 'sql_query': "SELECT job, COUNT(housing) AS housing_loan_count\nFROM bank\nWHERE housing = 'yes'\nGROUP BY job\nORDER BY housing_loan_count DESC;", 'result': [('admin.', 5559), ('blue-collar', 4710), ('technician', 3616), ('services', 2050), ('management', 1490), ('retired', 892), ('entrepreneur', 779), ('self-employed', 740), ('unemployed', 557), ('housemaid', 540), ('student', 471), ('unknown', 172)], 'col_keys': ['job', 'housing_loan_count']})

In [15]:
response.metadata

{'d3cd1b3e-ec93-475a-8aa9-0f07c40ed0ea': {'sql_query': "SELECT job, COUNT(housing) AS housing_loan_count\nFROM bank\nWHERE housing = 'yes'\nGROUP BY job\nORDER BY housing_loan_count DESC;",
  'result': [('admin.', 5559),
   ('blue-collar', 4710),
   ('technician', 3616),
   ('services', 2050),
   ('management', 1490),
   ('retired', 892),
   ('entrepreneur', 779),
   ('self-employed', 740),
   ('unemployed', 557),
   ('housemaid', 540),
   ('student', 471),
   ('unknown', 172)],
  'col_keys': ['job', 'housing_loan_count']},
 'sql_query': "SELECT job, COUNT(housing) AS housing_loan_count\nFROM bank\nWHERE housing = 'yes'\nGROUP BY job\nORDER BY housing_loan_count DESC;",
 'result': [('admin.', 5559),
  ('blue-collar', 4710),
  ('technician', 3616),
  ('services', 2050),
  ('management', 1490),
  ('retired', 892),
  ('entrepreneur', 779),
  ('self-employed', 740),
  ('unemployed', 557),
  ('housemaid', 540),
  ('student', 471),
  ('unknown', 172)],
 'col_keys': ['job', 'housing_loan_count']}